/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 86%);
}

:root {
    --pp-f: "Poppins", sans-serif;
    --ms-f: "Montserrat", sans-serif;
    --heading-f: 2.5em;
    --subheading-f: 1.5em;
    --body-font: 0.875em;
    --primary-c: hsl(226, 100%, 50%);
    --secondary-c: hsl(226, 100%, 65%);
    --accent-c: hsl(226, 100%, 79%);
}

/* navigation */
header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo h2 {
    font-family: var(--ms-f);
    font-size: var(--subheading-f);
    text-transform: uppercase;
    font-weight: 700;
}

.header-logo span {
    color: var(--secondary-c);
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

header nav li {
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    font-family: var(--pp-f);
    font-size: var(--body-font);
    color: #222;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s ease;
}

header nav a:hover {
    color: var(--secondary-c);
}

.header-menu {
    display: none;
}

.header-menu i {
    cursor: pointer;
    font-size: var(--subheading-f);
    transition: .5s ease;
}

.header-menu i:hover {
    color: var(--secondary-c);
}

/* homepage */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.home-text {
    max-width: 600px;
}

.home-text h2 {
    font-family: var(--pp-f);
    font-size: var(--heading-f);
}

.home-text span {
    color: var(--secondary-c);
}

.home-text p {
    margin-top: 16px;
    font-family: var(--ms-f);
    font-weight: 400;
    color: #222;
}

.home-search {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 1em;
}

.home-search input {
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0 16px;
    cursor: pointer;
    transition: .5s ease;
}

.home-search input:focus {
    outline: 2px solid var(--secondary-c);
}

.home-search button {
    height: 40px;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 0 16px;
    background-color: var(--secondary-c);
    color: #fff;
    cursor: pointer;
    transition: .5s ease;
}

.home-search button:hover {
    background-color: var(--primary-c);
    transform: translateY(-8px);
}

.home-img img {
    width: 350px;
    height: auto;
    cursor: pointer;
}

/* for small devices */
@media screen and (max-width: 768px) {
    /* navigation */
    header nav ul {
        display: none;
    }

    header nav ul.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 99;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--secondary-c);
        padding: 40px;
        gap: 32px;
    }

    header nav a {
        color: #fff;
    }

    .header-menu {
        display: block;
    }

    /* homepage */
    .home {
        flex-direction: column-reverse;
        text-align: center;
    }

    .home-img img {
        max-width: 80%;
    }

    .home-search {
        justify-content: center;
    }
}

/* for small devices */
@media screen and (max-width: 420px) {
    /* navigation */
    header nav ul {
        display: none;
    }

    header nav ul.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 99;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--secondary-c);
        padding: 40px;
        gap: 32px;
    }

    header nav a {
        color: #fff;
    }

    .header-menu {
        display: block;
    }

    /* homepage */
    .home {
        flex-direction: column-reverse;
        text-align: center;
        padding: 0 20px;
    }

    .home-img img {
        max-width: 70%;
    }

    .home-text h2 {
        font-size: var(--subheading-f);
    }

    .home-text p {
        font-size: var(--body-font);
    }

    .home-search {
        justify-content: center;
        flex-direction: column;
    }

    .home-search input,
    .home-search button {
        width: 100%;
    }
}